<a href="https://colab.research.google.com/github/safal207/hello-world/blob/master/%D0%A1%D0%B0%D1%84%D0%BE%D0%BD%D0%BE%D0%B2_Python_%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Light

**Задача 1**

Определите функцию ```shut_down```, которая на вход принимает некоторый аргумент. Так что, если на вход было подано "ДА", то функция возвращает "Выключение", если "НЕТ", то должна вернуть "Выключение отклонено". Если же ни одно из условий не соблюдено (на вход подали что-то другое), то функция возвращает "Ошибка!"

In [ ]:

def shit_down(sim):
 
  if sim == 'ДА':
    print('Выключение')
  elif sim == 'НЕТ':
    print('Выключение отклонено')
  else:
    print('Ошибка!')

In [ ]:
shit_down('ДА')

Выключение

In [ ]:
shit_down('НЕТ')

Выключение отклонено

In [ ]:
shit_down('Привет')

Ошибка!

**Задача 2**

Напишите функцию, которая возвращает сумму всех четных элементов списка.

In [ ]:
def special_sum(lst):

  s = 0
  for i in lst:
    if i % 2 == 0:
      s += i

  return s

In [ ]:
lst = [611, 70, 222, 73, 16, 788]
print(special_sum(lst))

1096

**Задача 3**

Импортируйте модуль ```math``` и воспользуйтесь оттуда функцией ```sqrt``` для нахождения квадратного корня каждого числа из списка (из задачи № 2).

In [ ]:
import math
lst = [3, 3, 4]
results = [math.sqrt(x) for x in lst]

In [ ]:
print(lst)
print(results)

[3, 3, 4]
[1.7320508075688772, 1.7320508075688772, 2.0]

**Задача 4**

Напишите функцию, которая рассчитает примерное время выполнения этого домашнего задания. На вход она принимает количество минут, потраченное на каждое задание, и количество заданий. Выведите посчитанное время на экран.

In [ ]:
def minutes_counter(lst, n):
  return sum(lst)

In [ ]:
minutes = [40, 16, 11, 4, 38, 24, 29]

In [ ]:
minutes_counter(minutes, len(minutes))

162

**Задача 5**

Напишите функцию, которая возвращает перевернутую строку наоборот.
Пример: "начальная строка11" -> "11акортс яаньлачан"

In [ ]:
stroka = 'пароль от Wi-Fi: bOTOt0s@ni123'

In [ ]:
def string_nazad(string):
  string = string[::-1]
  return string

In [ ]:
print(string_nazad(stroka))

321in@s0tOTOb :iF-iW то ьлорап

**Задача 6**

Напишите функцию  ```mult_str()```, которая в качестве параметров принимает строковую переменную ```input_str``` и число ```n```, а возвращает строку, в которой повторяется  ```input_str``` ровно ```n``` раз через пробел ```' '```. Найти значение ```mult_str()``` для ```input_str = 'KuKu'``` и ```n = 10```.

In [ ]:
def mult_str(input_str, n):
  res_str = (input_str + ' ') * n
  return res_str[:-1]

In [ ]:
n =10

In [ ]:
print(mult_str('KuKu', n))

KuKu KuKu KuKu KuKu KuKu KuKu KuKu KuKu KuKu KuKu

**Задача 7**

Создайте функцию-генератор, возвращающую случайное равновероятное значение из множества ```{0,1}```. Сгенерируйте с ее помощью ```1000``` значений. Найдите среднее арифметическое этих значений.

In [ ]:
import random 

def gen():
    for i in range(1000):
        yield random.randint(0, 1)

In [ ]:
avg = 0
for i in gen():
   avg += i
print (avg/1000)

0.498

# Pro

**Задача 1**

Уже весна, скоро в отпуск. Давайте напишем функцию расчета стоимости вашего путешествия. 

Определите функцию с названием ```hotel_cost``` и с аргументом - количество ночей - в качестве входных данных. Цена отеля будет 140 у.е. за ночь. Выходит, функция должна вернуть стоимость всех ночей. 

Определите функцию под названием ```plane_ride_cost```, которая на вход принимает строку - город. Такая функция должна вернуть цену перелета в зависимости от места: если это Крым, то перелет обойдется в 120 у.е., 
       если Шри-Ланка - 800 у.е.,
       если Каир - 400 у.е.,
       если Сочи - 120 у.е.

Напишите функцию ```rental_car_cost``` с аргументом - количество дней. Эта функция должна рассчитать стоимость аренды авто, если за сутки вы должны оплачивать саму ренту (40 у.е.) + стоимость услуг страхового агентства (+1% от суммарной стоимости услуг каждый следующий день. Т. е. первый день 1% от стоимости, второй - берется 1% от стоимости предыдущего дня (включая 1% за предыдущий день)  и т. д. Если вы арендуете на 7 и более дней, то скидка - 50 у.е., если от 3 до 6 дней включительно - 20 у.е. Обе скидки получить сразу нельзя. 
Задача состоит в том, чтобы эти функции (```hotel_cost, plane_ride_cost, rental_ride_cost```) были локальными в составе одной глобальной функции trip_cost, которая бы вовзращала сумму этих локальных функций.

In [ ]:
def trip_cost(nNights, city, nDays):

  def hotel_cost(nNights):
    return nNights*140

  def plane_ride_cost(city):

    if city.lower()=='крым':
      cost = 120
    elif city.lower()=='шри-ланка':
      cost = 800
    elif city.lower()=='каир':
      cost = 400
    elif city.lower()=='сочи':
      cost = 120
    else:
      print('Неизвестный город')
      cost = 0

    return cost

  def rental_car_cost(nDays):
    if nDays>=7:
      discount=50
    elif (nDays>=3 and nDays<=6):
      discount=20
    else:
      discount=0

    cost = 40 * nDays * (1+0.01)**nDays - discount

    return cost

  return hotel_cost(nNights)+plane_ride_cost(city)+rental_car_cost(nDays)

In [ ]:
nN = int(input('Количество ночей '))
st = input('Город? ')
nD = int(input('Количество дней аренды автомобиля '))

print(round(trip_cost(nN, st, nD), 2), '$')

Количество ночей 10
Город? Сочи
Количество дней аренды автомобиля 3
1623.64 $

**Задача 2**

Напишите функцию, которая принимает на вход строку и считает количество букв в  верхнем и в нижнем регистрах. 
Пример: 'На берегу Амазонки сидел Фернандо'.
Что должно быть на выходе?

Количество букв в верхнем регистре: 3

Количество букв в нижнем регистре: 26

In [ ]:
stroka = " 'Тихий Дон' Шолохова - великий роман-эпопея, который можно поставить в один ряд с 'Войной и миром' Толстого"

In [ ]:
def registr_count(s):
    nums = {"Верхний регистр": 0, "Нижний регистр": 0}
    for c in s:
        if c.isupper():
           nums["Верхний регистр"]+= 1
        elif c.islower():
           nums["Нижний регистр"]+= 1
        else:
           pass
    print ("Оригинальная строка : ", s)
    print ("Количество букв верхнего регистра : ", nums["Верхний регистр"])
    print ("Количество букв нижнего регистра : ", nums["Нижний регистр"])

    return nums

In [ ]:
registr_count(stroka)

Оригинальная строка :   'Тихий Дон' Шолохова - великий роман-эпопея, который можно поставить в один ряд с 'Войной и миром' Толстого
Количество букв верхнего регистра :  5
Количество букв нижнего регистра :  79

{'Верхний регистр': 5, 'Нижний регистр': 79}

**Задача 3**

Напишите функцию, которая принимает на вход число и проверяет, если оно простое.

Простые числа - такие числа, которые делятся только на себя либо на единицу. 
Пример: 3 - это простое число, т. к. нацело 3 делится только на 3 и на 1.

In [ ]:
def kakoe_chiclo(n):
    if (n == 1):
        return False
    elif (n == 2):
        return True;
    else:
        for x in range(2,n):
            if(n % x == 0):
                return False
        return True

In [ ]:
number = int(input('Введите число '))   
if kakoe_chiclo(number):
  print(number, ' - простое число')
else:
  print(number, ' - не простое число')

Введите число 8
8  - не простое число

**Задача 4**

Напишите функцию, которая проверяет, если число совершенное.
Совершенным числом является положительное число, такое, что оно является суммой собственных положительных делителей (все, кроме самого числа). 
Пример: первым в числовом ряду совершенным числом является 6: 1+2+3=6
Найдите такие числа в промежутке, который вы будете вводить с клавиатуры (два числа: начало и конец промежутка), например, промежуток от 5 до 150.

In [ ]:
def perfectNum(n):
    summa = 0
    for x in range(1, n):
        if n % x == 0:
            summa += x
    return summa == n

In [ ]:
n1 = int(input('Введите нижнюю границу: '))
n2 = int(input('Введите верхнюю границу: '))

for i in range(n1,n2+1):
  if perfectNum(i):
    print('Число: ',i)

Введите нижнюю границу: 4
Введите верхнюю границу: 8
Число:  6

**Задача 5**

Напишите функцию, которая проверяет, если фраза является палиндромом. Пример такой фразы:

А роза упала на лапу Азора.

In [ ]:
palindrom = 'А муза рада музе без ума да разума'

In [ ]:
def isPalindrom(string):
  string = string.lower()
  string = string.replace(' ','')
  string = string.replace(',','')

  new_str = string[::-1]
  return new_str == string

In [ ]:
isPalindrom(palindrom)

True

**Задача 6**
 
Посчитать значение $\cos^2(\pi/7)$ и $\sin^2(\pi/7)$, используя указанные функции из библиотеки ```math```, применив для этого **каждую** из конструкций импорта:
```
# 1. Импорт модуля или модулей целиком
import имя_модуля
import имя_модуля1, имя_модуля2
 
# 2. Импорт модуля с присвоением псевдонима модулю
import имя_модуля as новое_имя
 
# 3. Импорт конкретного объекта из модуля
from имя_модуля import имя_объекта
from имя_модуля import имя_объекта1, имя_объекта2
 
# 4. Импорт конкретного объекта из модуля с присвоением псевдонима объекту
from имя_модуля import имя_объекта as псевдоним_объекта
 
# 5. Импорт всех объектов из модуля
from имя_модуля import *
```
Найдите сумму $\cos^2(\pi/7)$ и $\sin^2(\pi/7)$.

In [ ]:
#1
import math
print(math.cos(math.pi/7)**2+math.sin(math.pi/7)**2)

1.0

In [ ]:
#2
import math as m
print(m.cos(math.pi/7)**2+m.sin(math.pi/7)**2)

1.0

In [ ]:
#3
from math import cos
from math import sin
from math import pi
print(cos(pi/7)**2+sin(pi/7)**2)

1.0

In [ ]:
#4
from math import cos as c
from math import sin as s
from math import pi as p
print(c(p/7)**2+s(p/7)**2)

1.0

In [ ]:
#5
from math import *
print(cos(pi/7)**2+sin(pi/7)**2)

1.0