<a href="https://colab.research.google.com/github/safal207/hello-world/blob/master/%D0%A1%D0%B0%D1%84%D0%BE%D0%BD%D0%BE%D0%B2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Задача 1

Используя соответствующую функцию библиотеки pandas, подгрузите датасет 'train.csv' из .csv файла. Выведите на экран первые 5 строчек файла (метод head)

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
data1 =pd.read_csv('/content/train.csv')

In [ ]:
data1.head(100)

     Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0     1          60       RL  ...        WD         Normal    208500
1     2          20       RL  ...        WD         Normal    181500
2     3          60       RL  ...        WD         Normal    223500
3     4          70       RL  ...        WD        Abnorml    140000
4     5          60       RL  ...        WD         Normal    250000
..  ...         ...      ...  ...       ...            ...       ...
95   96          60       RL  ...        WD         Normal    185000
96   97          20       RL  ...        WD         Normal    214000
97   98          20       RL  ...        WD         Normal     94750
98   99          30       RL  ...       COD        Abnorml     83000
99  100          20       RL  ...        WD         Normal    128950

[100 rows x 81 columns]

### Задача 2

Для подгруженного датасета из предыдущей задачи:
* посчитайте сколько записей
* определите тип данных в каждом столбце
* проверьте, есть ли пропуски
* выведите на экран описательные статистики

P.S. используйте соответствующие встроенные методы

In [ ]:
#посчитайте сколько записей
(data1.count())

Id               1460
MSSubClass       1460
MSZoning         1460
LotFrontage      1201
LotArea          1460
                 ...
MoSold           1460
YrSold           1460
SaleType         1460
SaleCondition    1460
SalePrice        1460
Length: 81, dtype: int64

In [ ]:
#определите тип данных в каждом столбце
data1.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [ ]:
#Посчитаем пропуски
data1.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [ ]:
data1.isna().head()

      Id  MSSubClass  MSZoning  ...  SaleType  SaleCondition  SalePrice
0  False       False     False  ...     False          False      False
1  False       False     False  ...     False          False      False
2  False       False     False  ...     False          False      False
3  False       False     False  ...     False          False      False
4  False       False     False  ...     False          False      False

[5 rows x 81 columns]

In [ ]:
data1.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

Описательные статистики

In [ ]:
data1.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

In [ ]:
data1.describe(include=['O'])

       MSZoning Street Alley LotShape  ...  Fence MiscFeature SaleType SaleCondition
count      1460   1460    91     1460  ...    281          54     1460          1460
unique        5      2     2        4  ...      4           4        9             6
top          RL   Pave  Grvl      Reg  ...  MnPrv        Shed       WD        Normal
freq       1151   1454    50      925  ...    157          49     1267          1198

[4 rows x 43 columns]

### Задача 3

Используя соответствующий встроенный метод, "дропните", т.е. удалите из нашей таблички все столбцы, у которых кол-во пропущенных значений больше 200.

* найдите все такие столбцы (метод .isna() + подвыборка с условием)
* определите их названия (поймите как выцепить названия и сохраните их в массив, т.е. по цепочке примените методы .index, .tolist() или .values)
* "дропните их" (используйте метод .drop(имена столбцов))
* результат сохраните в новой табличке (например, data_1), исходную менять не нужно

In [ ]:
print(data1)

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0        1          60       RL  ...        WD         Normal    208500
1        2          20       RL  ...        WD         Normal    181500
2        3          60       RL  ...        WD         Normal    223500
3        4          70       RL  ...        WD        Abnorml    140000
4        5          60       RL  ...        WD         Normal    250000
...    ...         ...      ...  ...       ...            ...       ...
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[1460 rows x 81 columns]

In [ ]:
#найдите все такие столбцы (метод .isna() + подвыборка с условием)
mask = data1.columns [data1.isna().sum()>200].values
print (mask)

['LotFrontage' 'Alley' 'FireplaceQu' 'PoolQC' 'Fence' 'MiscFeature']

In [ ]:
data1

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0        1          60       RL  ...        WD         Normal    208500
1        2          20       RL  ...        WD         Normal    181500
2        3          60       RL  ...        WD         Normal    223500
3        4          70       RL  ...        WD        Abnorml    140000
4        5          60       RL  ...        WD         Normal    250000
...    ...         ...      ...  ...       ...            ...       ...
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[1460 rows x 81 columns]

In [ ]:
data2 = data1.drop(columns=mask) # Удаляем колонки date из датафрейма

In [ ]:
data2 #результат сохраните в новой табличке , исходную менять не нужно

        Id  MSSubClass MSZoning  ...  SaleType SaleCondition SalePrice
0        1          60       RL  ...        WD        Normal    208500
1        2          20       RL  ...        WD        Normal    181500
2        3          60       RL  ...        WD        Normal    223500
3        4          70       RL  ...        WD       Abnorml    140000
4        5          60       RL  ...        WD        Normal    250000
...    ...         ...      ...  ...       ...           ...       ...
1455  1456          60       RL  ...        WD        Normal    175000
1456  1457          20       RL  ...        WD        Normal    210000
1457  1458          70       RL  ...        WD        Normal    266500
1458  1459          20       RL  ...        WD        Normal    142125
1459  1460          20       RL  ...        WD        Normal    147500

[1460 rows x 75 columns]

### Задача 4

В финальном датасете из прошлой задачи "дропните" все строки с пропусками в данных, используйте соответствующий встроенный метод (.dropna()). В этой задаче, в отличие от предыдущей, выполните операцию "inplace", т.е. измените исходную таблицу.

In [ ]:
data2.dropna(axis=0, how='any',inplace=True)
data2

        Id  MSSubClass MSZoning  ...  SaleType SaleCondition SalePrice
0        1          60       RL  ...        WD        Normal    208500
1        2          20       RL  ...        WD        Normal    181500
2        3          60       RL  ...        WD        Normal    223500
3        4          70       RL  ...        WD       Abnorml    140000
4        5          60       RL  ...        WD        Normal    250000
...    ...         ...      ...  ...       ...           ...       ...
1455  1456          60       RL  ...        WD        Normal    175000
1456  1457          20       RL  ...        WD        Normal    210000
1457  1458          70       RL  ...        WD        Normal    266500
1458  1459          20       RL  ...        WD        Normal    142125
1459  1460          20       RL  ...        WD        Normal    147500

[1338 rows x 75 columns]

### Задача 5

Данные, с которыми мы работаем в этом домашнем задании, содержат информацию о проданных домах. В табличке из прошлой задачи найдите все дома, проданные в 2007 году, у которых цена продажи выше 300000 и есть бассейн. Для подвыборки с указанными условиями сначала создайте маску.

* цена продажи SalePrice
* год продажи YrSold
* наличие бассейна можно определить по столбцу PoolArea

In [ ]:
data2[(data2.SalePrice>300000)&(data2.YrSold==2007)&(data2.PoolArea!=0)].head(20)

        Id  MSSubClass MSZoning  ...  SaleType SaleCondition SalePrice
1182  1183          60       RL  ...        WD       Abnorml    745000

[1 rows x 75 columns]

In [ ]:
### Задача 5
#SalePrice > 300000 & YrSold =='2007' & PoolArea ==1
mask2 = (data2.SalePrice > 300000) & (data2.YrSold ==2007) & (data2.PoolArea !=0)
data2[mask2].head()

        Id  MSSubClass MSZoning  ...  SaleType SaleCondition SalePrice
1182  1183          60       RL  ...        WD       Abnorml    745000

[1 rows x 75 columns]

### Задача 6

Добавьте к табличке data_1 новый столбец с названием 'Flag'. Присвойте ему значения 0 или 1 в случайном порядке. Для этого:
    
* создайте одномерный массив из случайных целых чисел 0 или 1
* размер массива должен соответствовать кол-ву наблюдений в основной табличке
* создайте новый столбец и присвойте ему значения одномерного массива

In [ ]:
import numpy as np


list_add_1=list(data2.shape) # создаем лист из данных шейпа исходного датафрейма, чтобы получить из него значения количества строк
flag_array=np.random.randint(0,2,list_add_1[0]) # создаем одномерный массив из случайных величин с размерностью равной количеству строк 
print('Массив Flag имеет вид', flag_array)
#data1['Flag'] = flag_massiv # присваиваем колонке Flag значения из одномерного массива

Массив Flag имеет вид [0 0 0 ... 0 1 1]

In [ ]:
data2['Flag'] =flag_array
data2

        Id  MSSubClass MSZoning  ...  SaleCondition SalePrice Flag
0        1          60       RL  ...         Normal    208500    0
1        2          20       RL  ...         Normal    181500    0
2        3          60       RL  ...         Normal    223500    0
3        4          70       RL  ...        Abnorml    140000    0
4        5          60       RL  ...         Normal    250000    1
...    ...         ...      ...  ...            ...       ...  ...
1455  1456          60       RL  ...         Normal    175000    1
1456  1457          20       RL  ...         Normal    210000    1
1457  1458          70       RL  ...         Normal    266500    0
1458  1459          20       RL  ...         Normal    142125    1
1459  1460          20       RL  ...         Normal    147500    1

[1338 rows x 76 columns]

## Задачи Pro

### Задача 1: DateTime index

* Подгрузите данные 'data.csv' (возможно придется указать кодировку encoding сp1250)
* Преобразуйте колонку Invoice Date в DateTime index
* Удалите колонку Invoice Date
* Сохраните получившуюся табличку в новую переменную data

**База:** https://drive.google.com/open?id=1PVm91uYGSyjYEQcUS6fX8SQOqvjWSf38

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
#Сохраните получившуюся табличку в новую переменную data
#Подгрузите данные 'data.csv' (возможно придется указать кодировку encoding сp1250)
data =pd.read_csv('/content/drive/My Drive/Python/data.csv', encoding = 'cp1250')
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
#Преобразуйте колонку Invoice Date в DateTime index
data.index = pd.to_datetime(data.InvoiceDate)
#Удалите колонку Invoice Date
data.drop('InvoiceDate', axis=1, inplace = True)
data.head()

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365     71053  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84406B  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029G  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 7 columns]

### Задача 2

Используя табличку, полученную в результате выполнения предыдущей задачи, выберите все заказы, совершенные за период 7 Декабря 2010 года с часа дня до часа и одной минуты.

In [ ]:
data[(data.index >= '2010-12-07 13:00:00')&(data.index <= '2010-12-07 13:01:00')]

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-07 13:01:00    537604     84991  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21845  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21534  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21527  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21528  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21843  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22429  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22551  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22557  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22555  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22304  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22305  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20749  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22525  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22524  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22515  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22514  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22518  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     82552  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20750  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21212  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21210  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22567  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22558  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21155  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22061  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     37446  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     37449  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22519  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21754  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20969  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20967  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22570  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22568  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22569  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20971  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     84880  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     82484  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22173  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     84879  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21136  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22185  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22488  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     71477  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604    85123A  ...    13488.0  United Kingdom

[45 rows x 7 columns]

### Задача 3

По той же рабочей табличке:
* посчитайте кол-во уникальных наименований товаров, которые купили за весь период (т.е. по всем данным). Используйте соответствующий метод
* найдите все уникальные страны, в которых были размещены заказы

In [ ]:
#посчитайте кол-во уникальных наименований товаров, которые купили за весь период (т.е. по всем данным). Используйте соответствующий метод
print('Уникальные товары',len(data.Description.unique()), 'штук')

Уникальные товары 4224 штук

In [ ]:
#найдите все уникальные страны, в которых были размещены заказы
print(data.Country.unique())

['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

In [ ]:
print('Уникальные страны',len(data.Country.unique()), 'штук')

Уникальные страны 38 штук

### Задача 4

* Посчитайте матрицу корреляции Спирмена для наших данных
* Найдите 1%, 50% и 99% квантили цены за единицу товара

In [ ]:
#* Посчитайте матрицу корреляции Спирмена для наших данных
data.corr(method='spearman')

            Quantity  UnitPrice  CustomerID
Quantity    1.000000  -0.385407   -0.141124
UnitPrice  -0.385407   1.000000   -0.013255
CustomerID -0.141124  -0.013255    1.000000

In [ ]:
# Найдите 1%, 50% и 99% квантили цены за единицу товара

In [ ]:
data.quantile([0.01,0.5,0.99])

      Quantity  UnitPrice  CustomerID
0.01      -2.0       0.19     12415.0
0.50       3.0       2.08     15152.0
0.99     100.0      18.00     18212.0

### Задача 5

Найдите количество клиентов, которые оформляли заказ в понедельники. Для этого:
* сделайте подвыборку, соответствующую условию "в понедельник", используйте метод datetime индекса weekday_name
* посчитайте кол-во уникальных ID клиентов

In [ ]:
data[(data.index.weekday == 0)]

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-06 08:34:00    537226     22811  ...    15987.0  United Kingdom
2010-12-06 08:34:00    537226     21713  ...    15987.0  United Kingdom
2010-12-06 08:34:00    537226     22927  ...    15987.0  United Kingdom
2010-12-06 08:34:00    537226     20802  ...    15987.0  United Kingdom
2010-12-06 08:34:00    537226     22052  ...    15987.0  United Kingdom
...                       ...       ...  ...        ...             ...
2011-12-05 17:36:00    580731     21034  ...    17383.0  United Kingdom
2011-12-05 17:43:00    580732     23079  ...        NaN  United Kingdom
2011-12-05 17:43:00    580732     23108  ...        NaN  United Kingdom
2011-12-05 17:43:00    580732     20972  ...        NaN  United Kingdom
2011-12-05 17:43:00    580732     22969  ...        NaN  United Kingdom

[95111 rows x 7 columns]

In [ ]:
#data[data.index.weekday_name =='Monday'] -- почему-то дает ошибку проблема вверсии падоса
#альтернативный способ
data[data.index.dayofweek ==0]

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-06 08:34:00    537226     22811  ...    15987.0  United Kingdom
2010-12-06 08:34:00    537226     21713  ...    15987.0  United Kingdom
2010-12-06 08:34:00    537226     22927  ...    15987.0  United Kingdom
2010-12-06 08:34:00    537226     20802  ...    15987.0  United Kingdom
2010-12-06 08:34:00    537226     22052  ...    15987.0  United Kingdom
...                       ...       ...  ...        ...             ...
2011-12-05 17:36:00    580731     21034  ...    17383.0  United Kingdom
2011-12-05 17:43:00    580732     23079  ...        NaN  United Kingdom
2011-12-05 17:43:00    580732     23108  ...        NaN  United Kingdom
2011-12-05 17:43:00    580732     20972  ...        NaN  United Kingdom
2011-12-05 17:43:00    580732     22969  ...        NaN  United Kingdom

[95111 rows x 7 columns]

In [ ]:
#посчитайте кол-во уникальных ID клиентов
len(data[data.index.dayofweek ==0].CustomerID.unique())

1770

### Задача 6

Создайте новый столбец TotalCost со значениями Quantity * UnitPrice. Сделайте resampling данных в еженедельные со значениями суммы по столбцам TotalCost.

In [ ]:
data.insert(5,'TotalCost',data.Quantity*data.UnitPrice,True)

In [ ]:
data

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365     71053  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84406B  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029G  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029E  ...    17850.0  United Kingdom
...                       ...       ...  ...        ...             ...
2011-12-09 12:50:00    581587     22613  ...    12680.0          France
2011-12-09 12:50:00    581587     22899  ...    12680.0          France
2011-12-09 12:50:00    581587     23254  ...    12680.0          France
2011-12-09 12:50:00    581587     23255  ...    12680.0          France
2011-12-09 12:50:00    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [ ]:
#Сделайте resampling данных в еженедельные со значениями суммы по столбцам TotalCost.
data.TotalCost.resample('W').sum()

InvoiceDate
2010-12-05    181847.250
2010-12-12    270287.030
2010-12-19    207052.170
2010-12-26     89770.570
2011-01-02         0.000
2011-01-09     93720.930
2011-01-16    190994.960
2011-01-23    133782.910
2011-01-30    119136.810
2011-02-06    123642.180
2011-02-13    102296.930
2011-02-20    139664.580
2011-02-27    133069.930
2011-03-06    130435.560
2011-03-13    129180.960
2011-03-20    145262.610
2011-03-27    147909.800
2011-04-03    183501.710
2011-04-10    121598.220
2011-04-17    147459.771
2011-04-24    115461.250
2011-05-01     84382.660
2011-05-08    130354.310
2011-05-15    205445.230
2011-05-22    198031.530
2011-05-29    160569.820
2011-06-05    116932.520
2011-06-12    177916.870
2011-06-19    184016.500
2011-06-26    117086.710
2011-07-03    136287.440
2011-07-10    174659.170
2011-07-17    124163.170
2011-07-24    182513.960
2011-07-31    180814.851
2011-08-07    153176.200
2011-08-14    161417.020
2011-08-21    170724.890
2011-08-28    149603.500
2011-09-04    143819.060
2011-09-11    190513.470
2011-09-18    211722.620
2011-09-25    326156.721
2011-10-02    206858.231
2011-10-09    302466.590
2011-10-16    205734.640
2011-10-23    263762.220
2011-10-30    238642.190
2011-11-06    288266.770
2011-11-13    346560.140
2011-11-20    380407.570
2011-11-27    308185.020
2011-12-04    319874.990
2011-12-11    300605.220
Freq: W-SUN, Name: TotalCost, dtype: float64

### Задача 7

Посчитайте скользящее недельное среднее суммы ежедневных заказов. Для этого:
* Сделайте resampling в ежедневные данные
* Посчитайте скользящее среднее за 7 дней по столбцу TotalCost

In [ ]:
data.TotalCost.resample('D').sum().rolling(7).mean().head(28)

InvoiceDate
2010-12-01             NaN
2010-12-02             NaN
2010-12-03             NaN
2010-12-04             NaN
2010-12-05             NaN
2010-12-06             NaN
2010-12-07    40109.497143
2010-12-08    38045.822857
2010-12-09    38949.372857
2010-12-10    40632.865714
2010-12-11    40632.865714
2010-12-12    38612.432857
2010-12-13    35972.312857
2010-12-14    35655.775714
2010-12-15    33549.182857
2010-12-16    32949.500000
2010-12-17    30967.968571
2010-12-18    30967.968571
2010-12-19    29578.881429
2010-12-20    28059.225714
2010-12-21    28667.032857
2010-12-22    25337.158571
2010-12-23    20117.438571
2010-12-24    13898.268571
2010-12-25    13898.268571
2010-12-26    12824.367143
2010-12-27     9289.831429
2010-12-28     2561.554286
Freq: D, Name: TotalCost, dtype: float64

### Задача 8: GroupBy

Посчитайте общую стоимость заказов на ежемесячной основе в разбивке по странам

In [ ]:
data.groupby('Country').resample('M').sum().TotalCost

Country      InvoiceDate
Australia    2010-12-31      1005.10
             2011-01-31      9017.71
             2011-02-28     14627.47
             2011-03-31     17055.29
             2011-04-30       333.40
                              ...
Unspecified  2011-07-31      1425.41
             2011-08-31       531.03
             2011-09-30       286.85
             2011-10-31         0.00
             2011-11-30       965.75
Name: TotalCost, Length: 378, dtype: float64

### Задача 9: JOIN

* Подгрузите данные, содержащие информацию о номерах карт лояльности пользователей (card_data.csv)
* Назовите ее cards
* Сделайте Left Join исходной таблицы (которая получилась после задачи с datetime индексом) и таблицы cards
* Если будет переполнение памяти, попробуйте взять не все значения таблицы, а, например, первые 100 с помощью соответствующего метода iloc

**База:** https://drive.google.com/open?id=1NciibA3gFIb4llZ-s_umxved-CAGNENh

In [ ]:
#Подгрузите данные, содержащие информацию о номерах карт лояльности пользователей (card_data.csv)
#Назовите ее cards

cards = pd.read_csv('/content/card_data.csv')
cards.head()

      CardID  CustomerID
0  295841261     17850.0
1  491076910     13047.0
2  966476063     12583.0
3  396345785     13748.0
4  135688785     15100.0

In [ ]:
#Сделайте Left Join исходной таблицы (которая получилась после задачи с datetime индексом) и таблицы cards
merge_count = 100
data.iloc[:merge_count:].merge(cards.iloc[:merge_count,:], on = 'CustomerID', how = 'left')

   InvoiceNo StockCode  ...         Country     CardID
0     536365    85123A  ...  United Kingdom  295841261
1     536365     71053  ...  United Kingdom  295841261
2     536365    84406B  ...  United Kingdom  295841261
3     536365    84029G  ...  United Kingdom  295841261
4     536365    84029E  ...  United Kingdom  295841261
..       ...       ...  ...             ...        ...
95    536378     22352  ...  United Kingdom  698770186
96    536378     21212  ...  United Kingdom  698770186
97    536378     21975  ...  United Kingdom  698770186
98    536378     21977  ...  United Kingdom  698770186
99    536378     84991  ...  United Kingdom  698770186

[100 rows x 9 columns]